# 02 â€” SQL Analysis (SQLite)

This notebook loads the synthetic CSV into SQLite and runs KPI queries from `sql/sql_queries.sql`.

In [1]:
# Notebook setup
import os, sys
from pathlib import Path

# Add project root to PYTHONPATH
PROJECT_ROOT = Path.cwd().parent
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

print('Project root:', PROJECT_ROOT)

Project root: /mnt/data/churn_fix/churn-reduction-end-to-end

In [2]:
import pandas as pd
from src.config import Config
from src.sql_pipeline import create_sqlite_db_from_csv, run_sql_queries

cfg = Config()

csv_path = PROJECT_ROOT / cfg.SYNTHETIC_DIR / cfg.SYNTHETIC_FILENAME
db_path = PROJECT_ROOT / cfg.SQL_DIR / cfg.SQL_DB_FILENAME
sql_file = PROJECT_ROOT / cfg.SQL_DIR / 'sql_queries.sql'

print('CSV:', csv_path)
print('DB :', db_path)
print('SQL:', sql_file)

CSV: /mnt/data/churn_fix/churn-reduction-end-to-end/data/synthetic/subscription_churn_synthetic.csv
DB : /mnt/data/churn_fix/churn-reduction-end-to-end/sql/subscription_churn.db
SQL: /mnt/data/churn_fix/churn-reduction-end-to-end/sql/sql_queries.sql

In [3]:
# Build DB (idempotent)
db_path = create_sqlite_db_from_csv(csv_path=str(csv_path), cfg=cfg)
print('DB ready')

DB ready

In [4]:
results = run_sql_queries(db_path=str(db_path), sql_file_path=str(sql_file))
list(results.keys())

['churn_rate_overall',
 'churn_by_plan',
 'churn_by_billing_cycle',
 'churn_by_channel',
 'churn_by_tenure_bucket']

In [5]:
# Show a couple of KPI tables
results['churn_rate_overall'].head()

   churn_rate
0     0.71775

In [6]:
results['churn_by_plan'].head()

       plan  customers  churn_rate    avg_fee
0     Basic       7041    0.718364   9.176581
1   Premium       3983    0.718052  16.563389
2  Standard       8976    0.717135  12.850709